## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>

<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top" aria-label="${_('Global')}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="${marketing_link('ROOT')}" alt="Home Page">Savantly Learning</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             % if user.is_authenticated():
                <%
                  username = user.username
                  profile_image_url = get_profile_image_urls_for_user(user)['medium']
                %>
                <li class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                		<span class="user-img"><img src="${profile_image_url}" alt=""></span>
                  		<span class="user-name">${username}</span>
                		<span class="caret"></span>
                	</a>
                  <ul class="dropdown-menu">
                    <li><a href="${reverse('dashboard')}">${_("Dashboard")}</a></li>
                    <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("Profile")}</a></li>
                    <li><a href="${reverse('account_settings')}">${_("Account")}</a></li>
                    <li><a href="${reverse('logout')}">${_("Sign Out")}</a></li>
                  </ul>
                </li>
              % else:
              <li>
                <a class="btn-brand btn-client" href="/register${login_query()}">${_("Create Account")}</a>
              </li>
              <li>
                <a href="/login${login_query()}" class="brand-link">${_("Sign in")}</a>
              </li>
            % endif
              <li>
                <a href="/courses" class="brand-link">${_("Courses")}</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>